<template name="home">
    <div class="container">
        <div class="row" id="champion-messages">
            <div class="col-md-3">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    {{>home_state_filter}}
                    <hr/>
                    {{#each action_item_list }}
                        {{>home_list_item }}
                    {{/each}}
                </div>
            </div>
            <div class="col-md-9">
                {{>home_list_item_detail_edit selected_action_item}}

                {{>home_list_item_detail_new }}
            </div>
        </div>
    </div>
</template>

<template name="home_state_filter">
    <p>State Filter</p>
    <div class="checkbox">
        <label><input type="checkbox" id="isOpenChecked" {{isOpenChecked}} >Open</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" id="isClosedChecked" {{isClosedChecked}} >Closed</label>
    </div>
</template>

<template name="home_list_item">
    <button id="list_item" class={{isSelected}} >{{subject}} - {{state}}</button>
</template>

<template name="home_list_item_detail_edit">
    {{#if itemExistToEdit }}
        {{! > quickForm collection="ActionItems" doc=this id="ai_edit" type="update" omitFields="created_on, updated_on, comments.$.date, comments.$.user_id"}}
        {{#autoForm collection="ActionItems" doc=this id="ai_edit" type="method" meteormethod="updateActionItem"  }}
            <fieldset>
                {{> afQuickField name='subject' }}
                {{> afQuickField name='state' }}
                {{> afQuickField name='current_owner_id'  }}
                {{> afQuickField name='comments' omitFields='comments.$.date, comments.$.user_id' }}
            </fieldset>
            <button type="submit" class="btn btn-primary">Update</button>
        {{/autoForm}}
        <hr/>
    {{/if}}
</template>

<template name="home_list_item_detail_new">
    <h2>Create New Action Item</h2>
    {{! > quickForm collection="ActionItems" doc=this id="ai_edit" type="update" omitFields="created_on, updated_on"}}
    {{#autoForm collection="ActionItems"  id="ai_new" type="method" meteormethod="newActionItem" }}
        <fieldset>
            {{> afQuickField name='subject' }}
            {{> afQuickField name='current_owner_id'  }}
            {{> afQuickField name='comments' omitFields='comments.$.date, comments.$.user_id' }}
        </fieldset>
        <button type="submit" class="btn btn-primary">Create</button>
    {{/autoForm}}
</template>